GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_API_KEY=
GOOGLE_REDIRECT_URI=
PIPELINES_API_KEY=
OPEN_TERMINAL_MULTI_USER=true
OPEN_TERMINAL_API_KEY=
AIOHTTP_CLIENT_TIMEOUT=600
WEBSOCKET_EVENT_CALLER_TIMEOUT=600
CORS_ALLOW_ORIGIN=

ENABLE_OAUTH_SIGNUP=true
ENABLE_LOGIN_FORM=true
WEBUI_URL=
WEBUI_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_SCOPE=openid email profile
GOOGLE_REDIRECT_URI=
OPENID_PROVIDER_URL=https://accounts.google.com/.well-known/openid-configuration
