DB_HOST=romm-db
DB_NAME=romm
DB_USER=romm-user
DB_PASSWD=
ROMM_AUTH_SECRET_KEY=
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=romm
MARIADB_USER=romm-user
MARIADB_PASSWORD=
